#display {
    color: rgb(77, 248, 91);
    background-color: rgb(42, 40, 40);
    border-radius: 24px;
    font-size: 32px;
    width: 350px;
    height: 64px;
    margin-top: 50px;
    padding: 44px;
    display: flex;
    justify-content: end;
}

button {
    font-size: 24px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(230, 245, 230);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input {
    display: flex;
    justify-content: end;
}

#clearWorking {
    width: 100px;
    height: 50px;
    margin-top: 40px;
    margin-left: 30px;
    color: rgb(218, 155, 37);
    border: 1px solid rgb(218, 155, 37);
}

#clearWorking:hover {
    background-color: rgb(246, 234, 211);
}

#doCalculation {
    background-color: rgb(131, 243, 131);
    width: 250px;
}

.negative:hover {
    background-color: rgb(255, 255, 255);

}

.ops {
    background-color: rgb(245, 251, 245);
}